body{
    background-color: rgb(56, 54, 54);
}

#div{
    text-align: center;
    background-color: aliceblue;
    border: 1px solid black;
    width: 350px; 
    height: 400px;
    margin: auto;
}
#i{
    text-align: center;
}
#o{
    text-align: center;
}
#GG{
    text-align: right;
    background-color: rgb(34, 34, 255); 
    color: black ;
    border-radius: 25px;
}
#bo{
    background-color: rgb(24, 24, 253);
    color: black; 
    border-radius: 25px;
}